.nav-bg {
  background-color: #ffe26a;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  .nav-bg .navbar-nav li a {
    color: #4f2006 !important; }

.navbar li a:hover {
  background-image: url("../images/active-menu.png");
  background-repeat: no-repeat;
  background-position: right; }
.navbar li:last-child a:hover {
  background-image: none; }

.nav-brown li {
  margin-left: 20px; }
  .nav-brown li a {
    font-family: 'sukhumvit_setbold';
    color: #4f2006 !important; }

.nav-white li {
  margin-left: 20px; }
  .nav-white li a {
    font-family: 'sukhumvit_setbold';
    color: #ffffff !important; }

.active {
  background-image: url("../images/active-menu.png");
  background-repeat: no-repeat;
  background-position: right; }

.cart a {
  padding-top: 1px !important; }

.footer {
  background-color: #129647;
  padding: 5rem 0; }
  @media (max-width: 768px) {
    .footer {
      padding: 3rem 0; } }
  .footer .container {
    max-width: initial; }
  .footer .footer-logo {
    text-align: center; }
    @media (max-width: 991px) {
      .footer .footer-logo img {
        max-width: 200px;
        width: 100%; } }
    @media (max-width: 480px) {
      .footer .footer-logo img {
        max-width: 150px; } }
  .footer .ft-menu ul {
    list-style-type: none; }
    .footer .ft-menu ul li {
      margin: 5px 0;
      height: 26px; }
    .footer .ft-menu ul a {
      color: #fff; }
    .footer .ft-menu ul a:hover {
      font-family: 'sukhumvit_setbold'; }
  .footer ul {
    list-style-type: none; }
    .footer ul li {
      margin: 5px 0;
      word-break: break-word; }
  .footer .menu-over:hover {
    height: 50px; }
  .footer .social-footer a {
    margin-right: 10px; }
  @media (max-width: 768px) {
    .footer .col-md-3:first-child {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 15px; } }
  @media (max-width: 480px) {
    .footer .col-md-3:nth-child(2) ul {
      margin-bottom: 0 !important; } }
  @media (max-width: 768px) {
    .footer .col-md-3 {
      flex: 0 0 33.33%;
      max-width: 33.33%; } }
  @media (max-width: 480px) {
    .footer .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%; } }

.a-hover a {
  color: #ffffff; }
.a-hover a:hover {
  font-family: 'sukhumvit_setbold'; }

@media only screen and (max-width: 1400px) {
  .online-buying .product-list {
    margin-top: 5rem !important; }

  .product-page .product-list {
    margin-top: 3rem !important; }

  .slick-2-items {
    margin-top: 3rem !important; } }
@media only screen and (max-width: 1199px) {
  .contact-page .contact-social ul li a {
    font-size: 28px !important; }

  .product-detail-page img {
    width: 100%; }

  .online-buying .h-hotchili-desc, .online-buying .h-truffle-desc {
    top: 4rem !important;
    right: 1rem !important;
    padding: 1rem !important;
    text-align: center;
    border-radius: 15px; } }
@media only screen and (max-width: 991px) {
  .nav-mobile {
    background-color: #ffe26a; }
    .nav-mobile li a {
      color: #4f2006 !important; }

  .font-h2 {
    font-size: 45px !important; }

  .contact-page .contact-social ul li a {
    font-size: 18px !important; }

  .news-title a {
    font-size: 26px !important;
    line-height: 26px !important; }

  .news-promotion {
    height: auto !important; }
    .news-promotion .slick-2-items {
      margin-top: 2rem !important; }

  .newspromotion-desc .newspro-desc {
    padding: 1rem 8rem 1rem 5rem; }

  .online-buying {
    height: auto !important; }
    .online-buying img {
      max-width: 220px !important; }
    .online-buying .h-hotchili-desc, .online-buying .h-truffle-desc {
      top: 1rem !important;
      right: 1rem !important;
      padding: 1rem !important;
      width: 160px; }
      .online-buying .h-hotchili-desc h3, .online-buying .h-truffle-desc h3 {
        font-size: 1.35rem; }
    .online-buying .product-list {
      margin-top: 2rem !important; }

  .product-detail-page .col-md-8 .mid-center {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    padding: 15px 0; }

  .green_gradient.h-100vh {
    height: auto !important; }

  .m-unmid-center {
    position: relative !important;
    transform: none !important;
    top: auto !important;
    left: auto !important;
    margin: 0 15px; }

  .newspro-list .col-12 {
    margin-bottom: 1rem !important; } }
@media only screen and (max-width: 480px) {
  .font-h2 {
    font-size: 45px !important; }

  .order-m1 {
    order: 1; }

  .order-m2 {
    order: 2; }

  .order-m3 {
    order: 3; }

  .h-100vh {
    height: auto !important; }

  .m-unmid-center {
    position: relative !important;
    transform: none !important;
    top: auto !important;
    left: auto !important;
    margin: 0 15px; }
    .m-unmid-center .col-md-6 {
      text-align: center !important; }
    .m-unmid-center .col-md-6.text-right {
      margin-bottom: 15px; }

  .contact-page .row.mt-5rem {
    margin: auto !important; }
  .contact-page .col-md-6.order-m1 {
    margin-top: 3rem; }

  .about-page .container.ptb-60 {
    padding: 60px 15px; }
  .about-page .about-product img {
    width: 100%; }

  .newspromotion-page {
    background-size: inherit !important;
    background-repeat: repeat-y !important; }
    .newspromotion-page .container.ptb-60 {
      padding: 60px 15px 0; }

  .newspromotion-desc {
    background-size: inherit !important;
    background-repeat: repeat-y !important; }
    .newspromotion-desc .container.ptb-60 {
      padding: 60px 15px 0; }
    .newspromotion-desc .ff_rukdeaw.font-h2 {
      line-height: 40px; }
    .newspromotion-desc .newspro-desc.mt-5 {
      padding: 1rem;
      margin: 1.5rem auto !important; }

  .online-buying .product-list {
    margin: 3rem auto 0 !important; }

  .product-page .product-list {
    margin: auto; }

  .product-detail-page .mid-center {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    margin-top: 0 !important;
    padding: 60px 0 30px; }
  .product-detail-page .col-md-4 img {
    max-width: 150px; }
  .product-detail-page .col-md-8 .mid-center {
    padding: 15px 0; }

  .newspro-list {
    margin: auto !important; }
    .newspro-list .col-md-4 {
      margin-bottom: 15px; } }
body {
  font-family: 'sukhumvit_settext';
  font-size: 16px;
  letter-spacing: .5px;
  color: #ffffff; }

a {
  outline: none !important; }

.navbar-toggler {
  outline: none !important;
  border: none !important; }

.pos-rel {
  position: relative; }

.ff_rukdeaw {
  font-family: 'can_rukdeawregular' !important; }

.ff_sukhumvit_setmedium {
  font-family: 'sukhumvit_setmedium' !important; }

.ff_sukhumvit_setsemibold {
  font-family: 'sukhumvit_setsemi_bold' !important; }

.ff_thunder {
  font-family: 'a_love_of_thunderregular' !important; }

.slick-next {
  right: 25px;
  z-index: 9;
  width: 50px;
  height: 50px; }

.slick-prev {
  left: 25px;
  z-index: 9;
  width: 50px;
  height: 50px; }

.slick-prev::before, .slick-next::before {
  font-size: 50px; }

.home-banner .slick-slide img {
  width: 100%; }

.slick-2-items {
  margin-top: 9rem; }
  .slick-2-items .slick-list.draggable {
    margin: auto;
    max-width: 960px; }

.green_gradient {
  background: #38a36b;
  background: -moz-linear-gradient(top, #38a36b 0%, #79c19c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #38a36b), color-stop(100%, #79c19c));
  background: -webkit-linear-gradient(top, #38a36b 0%, #79c19c 100%);
  background: -o-linear-gradient(top, #38a36b 0%, #79c19c 100%);
  background: -ms-linear-gradient(top, #38a36b 0%, #79c19c 100%);
  background: linear-gradient(to bottom, #38a36b 0%, #79c19c 100%); }

.font-h1 {
  font-size: 75px; }

.font-h2 {
  font-size: 65px; }

.font-h3 {
  font-size: 55px; }

.font-h4 {
  font-size: 45px; }

.font-h5 {
  font-size: 35px; }

.font-h6 {
  font-size: 25px; }

.color-green {
  color: #0f733a; }

.color-red {
  color: #a10503; }

.color-gray {
  color: #737373; }

.color-brown {
  color: #4f2007; }

.ptb-30 {
  padding: 30px 0; }

.ptb-60 {
  padding: 60px 0; }

.h-100vh {
  height: 100vh; }

a:hover {
  text-decoration: none !important; }

.btn-buynow {
  font-family: 'sukhumvit_setbold';
  background-color: #ffffff;
  font-size: 30px;
  color: #70bc95;
  padding-top: 10px;
  width: 200px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 20px; }

.btn-buynow:hover {
  background-color: transparent;
  color: #ffffff; }

.btn-buynow2 {
  font-family: 'sukhumvit_setbold';
  background-color: #ffffff;
  color: #000;
  text-align: center;
  border: none;
  border-radius: 50px;
  width: 120px;
  padding: 5px;
  display: inline-block;
  -webkit-box-shadow: inset -4px -4px 4px 0px #737373;
  -moz-box-shadow: inset -4px -4px 4px 0px #737373;
  box-shadow: inset -4px -4px 4px 0px #737373; }

.btn-buynow2:hover {
  color: #0f733a; }

.btn-more {
  font-family: 'sukhumvit_setbold';
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  padding-top: 10px;
  width: 200px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 20px; }

.btn-more:hover {
  background-color: #ffffff;
  color: #70bc95; }

.btn-product-more {
  font-family: 'sukhumvit_setsemi_bold';
  font-size: 20px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 5px 25px; }

.btn-product-more:hover {
  background-color: #fff;
  color: #4bba80; }

.btn-send {
  font-family: 'sukhumvit_setbold';
  background-color: #ffe26a;
  color: #000;
  text-align: center;
  border: none;
  border-radius: 50px;
  width: 120px;
  padding: 8px;
  display: inline-block;
  -webkit-box-shadow: inset -1px -1px 4px 0px #000;
  -moz-box-shadow: inset -1px -1px 4px 0px #000;
  box-shadow: inset -1px -1px 4px 0px #000;
  outline: none !important; }

.btn-send:hover {
  background-color: #129647;
  color: #fff; }

.mid-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.news-promotion {
  background-image: url("../images/home/news-promotion-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .news-promotion .slick-slide img {
    margin: auto;
    width: 100%;
    padding: 0 15px; }
  @media (max-width: 480px) {
    .news-promotion .mt-5 {
      margin-top: 0 !important; } }

.online-buying {
  background-image: url("../images/home/online-buying-bg.jpg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 100%; }
  .online-buying img {
    width: 100%;
    max-width: 300px; }
  .online-buying .h-product-img img {
    position: relative;
    z-index: 999; }
  .online-buying .h-hotchili-desc {
    background-color: #a10503;
    position: absolute;
    top: 2rem;
    right: 4rem;
    padding: 2rem 2rem 2rem 5rem;
    text-align: center;
    border-radius: 15px; }
  .online-buying .h-truffle-desc {
    background-color: #737373;
    position: absolute;
    top: 2rem;
    right: 4rem;
    padding: 2rem 2rem 2rem 5rem;
    text-align: center;
    border-radius: 15px; }
  .online-buying .product-list {
    margin-top: 9rem; }
    @media (max-width: 480px) {
      .online-buying .product-list {
        margin: 0 auto !important; } }
    @media (max-width: 480px) {
      .online-buying .product-list .col-md-6 {
        margin-bottom: 30px; } }
  @media (max-width: 480px) {
    .online-buying .mt-5 {
      margin-top: 0 !important; } }
  @media (max-width: 480px) {
    .online-buying .ptb-60 {
      padding: 60px 0 30px; } }

.product-page {
  background-color: #35a26b; }
  .product-page img {
    width: 100%; }
  .product-page .product-list {
    margin-top: 6rem; }

.product-detail-page .container {
  margin: 5rem auto;
  color: #000000; }

.bg-gray {
  background-color: #7e807f; }

.prduct-banner-detail {
  text-align: center; }
  .prduct-banner-detail img {
    width: 100%; }

.gradient-red {
  background: #4b1617;
  background: -moz-linear-gradient(left, #4b1617 0%, #a22625 50%, #4b1617 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #4b1617), color-stop(50%, #a22625), color-stop(100%, #4b1617));
  background: -webkit-linear-gradient(left, #4b1617 0%, #a22625 50%, #4b1617 100%);
  background: -o-linear-gradient(left, #4b1617 0%, #a22625 50%, #4b1617 100%);
  background: -ms-linear-gradient(left, #4b1617 0%, #a22625 50%, #4b1617 100%);
  background: linear-gradient(to right, #4b1617 0%, #a22625 50%, #4b1617 100%); }

.newspromotion-page {
  background-image: url("../images/home/news-promotion-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .newspromotion-page img {
    width: 100%;
    cursor: pointer; }
  .newspromotion-page .news-list .news-img {
    overflow: hidden;
    border-radius: 10px; }
  .newspromotion-page .news-list .col-md-4 {
    margin-bottom: 30px; }
    .newspromotion-page .news-list .col-md-4 img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
  .newspromotion-page .news-list .col-md-4:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

.newspromotion-desc {
  background-image: url("../images/home/news-promotion-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .newspromotion-desc .news-list .news-img {
    margin: auto; }
    .newspromotion-desc .news-list .news-img img {
      width: 100%;
      max-width: 450px;
      border-radius: 10px; }

.newspro-desc {
  background-image: url("../images/news/desc-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  padding: 1rem 12rem 1rem 5rem; }

.p-title-bg {
  background-image: url("../images/news/title-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.pdesc-title-bg {
  background-image: url("../images/news/desc-title-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.news-title {
  background-image: url("../images/news/content-title-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'can_rukdeawregular' !important;
  margin-top: 15px;
  height: 90px;
  position: relative; }
  .news-title a, .news-title span {
    line-height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    color: #fff;
    cursor: pointer; }

.news-title:hover {
  background-image: url("../images/news/content-title-bg-y.png"); }
  .news-title:hover a, .news-title:hover span {
    color: #000; }

.about-page {
  background-color: #129646;
  -webkit-box-shadow: inset 0px 0px 120px 30px rgba(16, 73, 39, 0.75);
  -moz-box-shadow: inset 0px 0px 120px 30px rgba(16, 73, 39, 0.75);
  box-shadow: inset 0px 0px 120px 30px rgba(16, 73, 39, 0.75); }
  .about-page .about-logo {
    text-align: center; }
    .about-page .about-logo img {
      max-width: 250px; }

.contact-page {
  background-image: url("../images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .contact-page input {
    background-color: #ffe26a;
    border: none;
    border-radius: 50px;
    padding: 5px 15px; }
  .contact-page input:focus {
    background-color: #ffe26a; }
  .contact-page textarea {
    background-color: #ffe26a;
    border: none;
    border-radius: 15px;
    padding: 5px 15px; }
  .contact-page textarea:focus {
    background-color: #ffe26a; }
  .contact-page .contact-social ul {
    list-style-type: none; }
    .contact-page .contact-social ul li {
      text-transform: uppercase; }
      .contact-page .contact-social ul li a {
        color: #fff;
        font-size: 30px;
        font-family: 'a_love_of_thunderregular' !important;
        line-height: 60px; }

.mt-5rem {
  margin-top: 5rem; }

.newspro-list img {
  width: 100%; }
.newspro-list .col-12 {
  margin-bottom: 8rem; }

.error {
  color: #ff0000; }

#loader {
  display: none;
  margin: auto;
  border: 10px solid #129647;
  border-radius: 50%;
  border-top: 10px solid #ffe26a;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#contactflase {
  text-align: center;
  background: #129647;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-family: 'sukhumvit_setmedium';
  font-size: 20px; }

.pointer {
  cursor: pointer; }

.zoom-out {
  transition: transform .2s; }

.zoom-out:hover {
  transform: scale(1.1); }

/*# sourceMappingURL=ifruit.css.map */
